[Desktop Entry]
Name=Terminal
Comment=Terminal emulator
Exec=cosmic-term
Terminal=false
Type=Application
StartupNotify=true
Icon=com.system76.CosmicTerm
Categories=COSMIC;System;TerminalEmulator;
Keywords=Command;Shell;Terminal;CLI;
